@import './variables.styl'
body
	font-size 2em
	font 14px/1.5 Helvetica, arial, sans-serif
.zero 
	width 100%
	display flex
	justify-content center
	align-items center
	&_rect
		rx 15px
		stroke darken($colorMain, 10%) 
		stroke-width 5.5 
		fill lighten($color, 90%)
		border-style solid 
		stroke-opacity 0.1
.axis
	stroke lighten($colorMain, 10%)	
	&_ticks
		stroke lighten($colorMain, 10%)
		&_labels
			font-family sans-serif
			text-anchor middle
			fill lighten($colorMain, 20%)
			text-align center
.draggable
	stroke-width  0
	&:hover
		cursor move
		stroke-width 1
		stroke $colorMain
.main-stop 
	stop-color  $colorMain
.alt-stop 
	stop-color  $color
.static 
	cursor arrow
.lblNowTime
	font-family arial
	fill $colorMain
	text-align center
	text-anchor middle