@import './variables.styl'
body
	font-size 2em
	font 14px/1.5 Helvetica, arial, sans-serif
.zero 
	width 100%
	display flex
	justify-content center
	align-items center
	&_rect
		rx 15px
		stroke $colorMain 
		stroke-width 1.5 
		border-style solid 
		stroke-opacity 0.71
.axis
	stroke $colorMain
	&_ticks
		stroke $colorMain
		&_labels
			font-family sans-serif
			text-anchor middle
			fill $colorMain
.draggable
	stroke-width  0
	&:hover
		cursor move
		stroke-width 1
		stroke $colorMain
.main-stop 
	stop-color  $colorMain
.alt-stop 
	stop-color  $color
.static 
	cursor arrow
.lblNowTime
	font-family arial
	fill $colorMain
	text-align center
	text-anchor middle