$colorMain = var(--colorMain)
$color = var(--color)
body
	font-size 2em
#v-time-slider
	text-align center	
	& .zero 
		width 100%
		& .rect
			rx 15px
			stroke $colorMain 
			stroke-width 1.1 
			border-style solid 
			stroke-opacity 0.71
	& .axis
		stroke $colorMain
		&.ticks
			stroke $colorMain
			&.labels
				stroke-width 0
				text-anchor middle
				fill $colorMain
	& .draggable
		stroke-width  0
		&:hover
			cursor move
			stroke-width 1.1
			stroke $colorMain
	& .main-stop 
		stop-color  $colorMain
	& .alt-stop 
		stop-color  $color
	& .static 
		cursor arrow
	& .lblNowTime
		fill $colorMain
		text-anchor middle
		stroke-width 0